.badge{
    background-color: #69036B !important;
} 

.text-primary{
    color:  black !important;
}

.btn-primary{
    background-color: #69036B !important;
    border-color: #69036B  !important;
}

.form-check-input:checked {
    background-color: #69036B  !important;
    border-color: #69036B  !important;
}

.thumbnail{
    
    border-radius: 4px !important;  /* Rounded border */
    padding: 5px !important; /* Some padding */
    width: 60px !important; /* Set a small width */
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:black !important;
    opacity: 1; /* Firefox */
  }