@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */

html {
  background-color: #BA84B9;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  color: #BA84B9;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



